body {
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  margin: auto;
  background-color: slategray;
}

.mainContent {
  overflow: 'scroll';
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem 4rem 2rem 4rem;
  background: rgba(151, 173, 187, 0.685);
  border-radius: 0.8rem;
}

header {
  text-align: center;
}

#navigation #links {
  list-style-type: square;
}

#navigation {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

#navigation li {
  display: inline-block;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

#navigation li::after {
  content: " ◔"
}

a {
  text-decoration: none;
}
